/* CSS Stylesheet for Alexander's Cafe & Bar website */

h1 {
  display: block;
  float: left;
  margin: auto;
  position:relative;
  z-index:3;
  left:-8px;
  top:-20px;
}

h2 {
  position:relative;
  top:-400px;
  left:0px;
  z-index:2;
}

ul {
  padding: 10px;
}

li {
  display: inline;
  z-index:1;

}

a {
  padding: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-image:url("../images/beach_background.jpg");
  background-color:rgb(89,91,228);
  height:800px;
  
 
}

footer{
  /*background-color: rgb(46,49,146);*/
  background-color: rgb(4,6,71);
  position: fixed;
  z-index:2;
  height: 50px;
  bottom:0px;
  right:0px;
  left:0px;

}

footer p{
  color:white;
  text-align: center;
}

#fadeIn {
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}

.body {
  position: relative;
  left:265px;
  bottom:420px;
  /*height:670px;*/
  height:700px;
  width:1315px;
  padding-top:5px;
  z-index:1;
  background-color: white; 
}

.nav {
  position: relative;
  border: solid;
  border-color: red;
  border-radius: 10px;
  z-index:1;
  margin:10px;
  padding-left:40px;
  font-size:30px;
  background-color: rgb(247,246,225);
  text-align:center;
  letter-spacing: 10px;
}

.content {
  position:relative;
  z-index:1;
  bottom:20px;
  top:10px;
  border: solid;
  border-color: red;
  border-radius: 10px;
  margin:10px;
  padding-left:40px;
  padding-top:10px;
  padding-bottom:20px;
 /* padding-bottom:40px;
  */
  padding-right:40px;
  background-color: rgb(247,246,225);
  height:75%;
}

.heading{
  font-size:40px;
  font-style: italic;
  /*font-weight:bold;*/
}

.information{
  font-size:18px;
}

#rightImage{
  float:right;
  bottom: 20px;
}

#contactContent{
  /*float:left;*/
}






@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}







a:link {color: black;}      /* unvisited link */
a:visited {color: rgb(46,49,146);}  /* visited link */
a:hover {color:rgb(89,91,228);}  /* mouse over link */
a:active {color:rgb(89,91,228);}  /* selected link */
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}